*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
background-color: #f0f0f0;
}



/* ====== Profile page ===== */

.container__main {
    flex-basis: 73%;
}

.container__profile {
    background: #fff;
}

.container__profile--inner {
    padding: 0 4% 10px;
}

.profile-pic {
    width: 150px;
    border-radius: 50%;
    margin-top: -75px;
    padding: 5px;
    background: #fff;
}

.container__profile h1 {
    font-size: 28px;
    font-weight: 600;
    color: #222;
}

.container__profile b {
    font-weight: 500;
}

.container__profile p {
    margin-top: 5px;
}
.container__profile p a {
    text-decoration: none;
    color: #045be6;
    font-weight: 500;

}

.matual-connection {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.matual-connection img {
    width: 30px;
    border-radius: 50%;
    margin-right: 5px;
}

.profile-btn {
    margin: 20px 0;
}

.profile-btn .primary-btn {
    background: #045be6;
    color: #fff;
}

.profile-btn a {
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    background: #e4e6eb;
    padding: 6px 15px;
    border-radius: 4px;
    margin-right: 10px;
}
.profile-btn a img {
    width: 18px;
    margin-right: 5px;
}


.container__description {
    background: #fff;
    padding: 20px 4% 30px;
    margin:12px 0;

}

.container__description h2 {
    color: #333;
    margin: 10px 0 20px;
    font-weight: 600;
}

.see-more {
    text-decoration: none;
    display: block;
    text-align: right;
    font-size: 14px;
}

.profile-desc-row {
    display: flex;
    align-items: flex-start;
    margin: 20px 0;
}

.profile-desc-row img {
    width: 50px;
    margin-right: 25px;
    margin-top: 5px;
}

.profile-desc-row div {
    width: 100%;
}

.profile-desc-row h3 {
    font-size: 18px;
    font-weight: 600;
    color: #333;
}

.profile-desc-row b {
    display: block;
    font-weight: 500;
    font-size: 15px;

}

.profile-desc-row p {
    margin-top: 15px;
}

.profile-desc-row hr {
    border: 0;
    border-bottom: 1px solid #999;
    margin-top: 10px;
}

.exp-link {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    font-weight: 500;
}

.exp-link img {
    width: 20px;
    margin-left: 8px;
}

.skills-btn {
    text-decoration: none;
    display: inline-block;
    margin: 10px 5px;
    padding: 6px 18px;
    border: 1px solid #777;
    border-radius: 30px;
    font-size: 12px;
    font-weight: 500;
}

.language-btn {
    text-decoration: none;
    display: inline-block;
    margin: 10px 5px;
    padding: 6px 18px;
    background: #e4e6eb;
    font-weight: 500;
}





/* ====== sidebar page ===== */
.container__sidebar {
    flex-basis: 25%;
    align-self: flex-start;
    position: sticky;
    top: 70px;
}

.container__sidebar .sidebar-ad {
    margin: 0;
}

.people {
    background: #fff;
    padding: 15px 25px;
    margin: 12px 0;
    font-size: 12px;
}

.people h3 {
    font-size: 16px;
    font-weight: 600;
    margin: 10px 0 20px;
}

.people-row {
    display: flex;
    align-items: center;
    margin: 6px 0;
}

.people-row img {
    width: 40px;
    border-radius: 50%;
    margin-right: 8px;
    margin-top: 5px;
}

.people-row h2 {
    font-weight: 500;
    font-size: 16px;
}

.people-row a {
    text-decoration: none;
    display: inline-block;
    margin: 10px 0;
    padding: 5px 25px;
    border: 1px solid #5f5f5f;
    border-radius: 30px;
    font-weight: 500;
}

.footer {
    padding: 0 6% 30px;
}

.footer .useful-links {
    text-align: left;
    padding: 0;
}

.footer .copyright {
  justify-content: flex-start;
}

/* ========= media query ======= */
@media only screen and (max-width: 600px){
    .searchbox {
        background: transparent;
        width: auto;
        padding: 0;
    }

    .searchbox input {
        width: 0;
        padding: 0;
    }

    nav .navbar__center li a{
        padding-right: 0;
        margin: 5px;
        color: red;

    }

    .container__main, .container__sidebar {
        flex-basis: 100%;
    }

    .container__main {
        font-size: 14px;
    }

    .profile-pic {
        width: 100px;
        margin-top: -50px;
    }

    .container__description {
        font-size: 14px;
    }
}
